In [16]:
import pandas as pd
df = pd.read_csv('Downloads/pokemon_data.csv')
df.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [17]:
print(df)

       #                   Name   Type 1  Type 2  HP  Attack  Defense  \
0      1              Bulbasaur    Grass  Poison  45      49       49
1      2                Ivysaur    Grass  Poison  60      62       63
2      3               Venusaur    Grass  Poison  80      82       83
3      3  VenusaurMega Venusaur    Grass  Poison  80     100      123
4      4             Charmander     Fire     NaN  39      52       43
..   ...                    ...      ...     ...  ..     ...      ...
795  719                Diancie     Rock   Fairy  50     100      150
796  719    DiancieMega Diancie     Rock   Fairy  50     160      110
797  720    HoopaHoopa Confined  Psychic   Ghost  80     110       60
798  720     HoopaHoopa Unbound  Psychic    Dark  80     160       60
799  721              Volcanion     Fire   Water  80     110      120

     Sp. Atk  Sp. Def  Speed  Generation  Legendary
0         65       65     45           1      False
1         80       80     60           1      False
2        100      100     80           1      False
3        122      120     80           1      False
4         60       50     65           1      False
..       ...      ...    ...         ...        ...
795      100      150     50           6       True
796      160      110    110           6       True
797      150      130     70           6       True
798      170      130     80           6       True
799      130       90     70           6       True

[800 rows x 12 columns]

In [19]:
df.tail()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [35]:
df.sort_values('Name', ascending = 'True')

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
510,460,Abomasnow,Grass,Ice,90,92,75,92,85,60,4,False,494
511,460,AbomasnowMega Abomasnow,Grass,Ice,90,132,105,132,105,30,4,False,594
68,63,Abra,Psychic,NaN,25,20,15,105,55,90,1,False,310
392,359,Absol,Dark,NaN,65,130,60,75,60,75,3,False,465
393,359,AbsolMega Absol,Dark,NaN,65,150,60,115,60,115,3,False,565
...,...,...,...,...,...,...,...,...,...,...,...,...,...
632,571,Zoroark,Dark,NaN,60,105,60,120,60,105,5,False,510
631,570,Zorua,Dark,NaN,40,65,40,80,40,65,5,False,330
46,41,Zubat,Poison,Flying,40,45,35,30,40,55,1,False,245
695,634,Zweilous,Dark,Dragon,72,85,70,65,70,58,5,False,420
794,718,Zygarde50% Forme,Dragon,Ground,108,100,121,81,95,95,6,True,600

In [21]:
df['Total']= df['HP']+ df['Attack'] + df['Defense'] + df['Sp. Atk'] + df['Sp. Def'] + df['Speed']
print(df)

       #                   Name   Type 1  Type 2  HP  Attack  Defense  \
0      1              Bulbasaur    Grass  Poison  45      49       49
1      2                Ivysaur    Grass  Poison  60      62       63
2      3               Venusaur    Grass  Poison  80      82       83
3      3  VenusaurMega Venusaur    Grass  Poison  80     100      123
4      4             Charmander     Fire     NaN  39      52       43
..   ...                    ...      ...     ...  ..     ...      ...
795  719                Diancie     Rock   Fairy  50     100      150
796  719    DiancieMega Diancie     Rock   Fairy  50     160      110
797  720    HoopaHoopa Confined  Psychic   Ghost  80     110       60
798  720     HoopaHoopa Unbound  Psychic    Dark  80     160       60
799  721              Volcanion     Fire   Water  80     110      120

     Sp. Atk  Sp. Def  Speed  Generation  Legendary  Total
0         65       65     45           1      False    318
1         80       80     60           1      False    405
2        100      100     80           1      False    525
3        122      120     80           1      False    625
4         60       50     65           1      False    309
..       ...      ...    ...         ...        ...    ...
795      100      150     50           6       True    600
796      160      110    110           6       True    700
797      150      130     70           6       True    600
798      170      130     80           6       True    680
799      130       90     70           6       True    600

[800 rows x 13 columns]

In [32]:
df.to_csv('modified_csv')

In [26]:
df1=df.drop(['Legendary','Generation' ], axis=1)
print(df1)

       #                   Name   Type 1  Type 2  HP  Attack  Defense  \
0      1              Bulbasaur    Grass  Poison  45      49       49
1      2                Ivysaur    Grass  Poison  60      62       63
2      3               Venusaur    Grass  Poison  80      82       83
3      3  VenusaurMega Venusaur    Grass  Poison  80     100      123
4      4             Charmander     Fire     NaN  39      52       43
..   ...                    ...      ...     ...  ..     ...      ...
795  719                Diancie     Rock   Fairy  50     100      150
796  719    DiancieMega Diancie     Rock   Fairy  50     160      110
797  720    HoopaHoopa Confined  Psychic   Ghost  80     110       60
798  720     HoopaHoopa Unbound  Psychic    Dark  80     160       60
799  721              Volcanion     Fire   Water  80     110      120

     Sp. Atk  Sp. Def  Speed  Total
0         65       65     45    318
1         80       80     60    405
2        100      100     80    525
3        122      120     80    625
4         60       50     65    309
..       ...      ...    ...    ...
795      100      150     50    600
796      160      110    110    700
797      150      130     70    600
798      170      130     80    680
799      130       90     70    600

[800 rows x 11 columns]

In [29]:
cols = list(df1.columns.values)
df_cols= df1[cols[0:4] + [cols[-1]] + cols[4:10]]
print(df_cols)

       #                   Name   Type 1  Type 2  Total  HP  Attack  Defense  \
0      1              Bulbasaur    Grass  Poison    318  45      49       49
1      2                Ivysaur    Grass  Poison    405  60      62       63
2      3               Venusaur    Grass  Poison    525  80      82       83
3      3  VenusaurMega Venusaur    Grass  Poison    625  80     100      123
4      4             Charmander     Fire     NaN    309  39      52       43
..   ...                    ...      ...     ...    ...  ..     ...      ...
795  719                Diancie     Rock   Fairy    600  50     100      150
796  719    DiancieMega Diancie     Rock   Fairy    700  50     160      110
797  720    HoopaHoopa Confined  Psychic   Ghost    600  80     110       60
798  720     HoopaHoopa Unbound  Psychic    Dark    680  80     160       60
799  721              Volcanion     Fire   Water    600  80     110      120

     Sp. Atk  Sp. Def  Speed
0         65       65     45
1         80       80     60
2        100      100     80
3        122      120     80
4         60       50     65
..       ...      ...    ...
795      100      150     50
796      160      110    110
797      150      130     70
798      170      130     80
799      130       90     70

[800 rows x 11 columns]

In [27]:
df2=df1.loc[(df1['Type 1']=='Grass')& (df1['Type 2']=='Poison')]
print (df2)

       #                   Name Type 1  Type 2   HP  Attack  Defense  Sp. Atk  \
0      1              Bulbasaur  Grass  Poison   45      49       49       65
1      2                Ivysaur  Grass  Poison   60      62       63       80
2      3               Venusaur  Grass  Poison   80      82       83      100
3      3  VenusaurMega Venusaur  Grass  Poison   80     100      123      122
48    43                 Oddish  Grass  Poison   45      50       55       75
49    44                  Gloom  Grass  Poison   60      65       70       85
50    45              Vileplume  Grass  Poison   75      80       85      110
75    69             Bellsprout  Grass  Poison   50      75       35       70
76    70             Weepinbell  Grass  Poison   65      90       50       85
77    71             Victreebel  Grass  Poison   80     105       65      100
344  315                Roselia  Grass  Poison   50      60       45      100
451  406                  Budew  Grass  Poison   40      30       35       50
452  407               Roserade  Grass  Poison   60      70       65      125
651  590                Foongus  Grass  Poison   69      55       45       55
652  591              Amoonguss  Grass  Poison  114      85       70       85

     Sp. Def  Speed  Total
0         65     45    318
1         80     60    405
2        100     80    525
3        120     80    625
48        65     30    320
49        75     40    395
50        90     50    490
75        30     40    300
76        45     55    390
77        70     70    490
344       80     65    400
451       70     55    280
452      105     90    515
651       55     15    294
652       80     30    464

In [14]:
new_df = df1.loc[(df1['Type 1']=='Grass')& (df1['Type 2']=='Poison')& (df1['HP'] > 70)]
print(new_df)

       #                   Name Type 1  Type 2   HP  Attack  Defense  Sp. Atk  \
2      3               Venusaur  Grass  Poison   80      82       83      100
3      3  VenusaurMega Venusaur  Grass  Poison   80     100      123      122
50    45              Vileplume  Grass  Poison   75      80       85      110
77    71             Victreebel  Grass  Poison   80     105       65      100
652  591              Amoonguss  Grass  Poison  114      85       70       85

     Sp. Def  Speed  Generation  Total
2        100     80           1    525
3        120     80           1    625
50        90     50           1    490
77        70     70           1    490
652       80     30           5    464

In [15]:
new_df1= new_df.reset_index(drop=True)
print(new_df1)

     #                   Name Type 1  Type 2   HP  Attack  Defense  Sp. Atk  \
0    3               Venusaur  Grass  Poison   80      82       83      100
1    3  VenusaurMega Venusaur  Grass  Poison   80     100      123      122
2   45              Vileplume  Grass  Poison   75      80       85      110
3   71             Victreebel  Grass  Poison   80     105       65      100
4  591              Amoonguss  Grass  Poison  114      85       70       85

   Sp. Def  Speed  Generation  Total
0      100     80           1    525
1      120     80           1    625
2       90     50           1    490
3       70     70           1    490
4       80     30           5    464

In [38]:
df.sort_values('Name', ascending = 'True')

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
510,460,Abomasnow,Grass,Ice,90,92,75,92,85,60,4,False,494
511,460,AbomasnowMega Abomasnow,Grass,Ice,90,132,105,132,105,30,4,False,594
68,63,Abra,Psychic,NaN,25,20,15,105,55,90,1,False,310
392,359,Absol,Dark,NaN,65,130,60,75,60,75,3,False,465
393,359,AbsolMega Absol,Dark,NaN,65,150,60,115,60,115,3,False,565
...,...,...,...,...,...,...,...,...,...,...,...,...,...
632,571,Zoroark,Dark,NaN,60,105,60,120,60,105,5,False,510
631,570,Zorua,Dark,NaN,40,65,40,80,40,65,5,False,330
46,41,Zubat,Poison,Flying,40,45,35,30,40,55,1,False,245
695,634,Zweilous,Dark,Dragon,72,85,70,65,70,58,5,False,420
794,718,Zygarde50% Forme,Dragon,Ground,108,100,121,81,95,95,6,True,600

In [43]:
df.groupby(['Type 1']).mean().sort_values('Defense',ascending ='False')

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
Type 1,,,,,,,,,,
Normal,319.173469,77.275510,73.469388,59.846939,55.816327,63.724490,71.551020,3.051020,0.020408,401.683673
Fairy,449.529412,74.117647,61.529412,65.705882,78.529412,84.705882,48.588235,4.117647,0.058824,413.176471
Fighting,363.851852,69.851852,96.777778,65.925926,53.111111,64.703704,66.074074,3.370370,0.000000,416.444444
Flying,677.750000,70.750000,78.750000,66.250000,94.250000,72.500000,102.500000,5.500000,0.500000,485.000000
Electric,363.500000,59.795455,69.090909,66.295455,90.022727,73.704545,84.500000,3.272727,0.090909,443.409091
Psychic,380.807018,70.631579,71.456140,67.684211,98.403509,86.280702,81.491228,3.385965,0.245614,475.947368
Fire,327.403846,69.903846,84.769231,67.769231,88.980769,72.211538,74.442308,3.211538,0.096154,458.076923
Poison,251.785714,67.250000,74.678571,68.821429,60.428571,64.392857,63.571429,2.535714,0.000000,399.142857
Dark,461.354839,66.806452,88.387097,70.225806,74.645161,69.516129,76.161290,4.032258,0.064516,445.741935
Bug,334.492754,56.884058,70.971014,70.724638,53.869565,64.797101,61.681159,3.217391,0.000000,378.927536
Grass,344.871429,67.271429,73.214286,70.800000,77.500000,70.428571,61.928571,3.357143,0.042857,421.142857
Ice,423.541667,72.000000,72.750000,71.416667,77.541667,76.291667,63.458333,3.541667,0.083333,433.458333
Water,303.089286,72.062500,74.151786,72.946429,74.812500,70.517857,65.964286,2.857143,0.035714,430.455357
Ghost,486.500000,64.437500,73.781250,81.187500,79.343750,76.468750,64.343750,4.187500,0.062500,439.562500
Ground,356.281250,73.781250,95.750000,84.843750,56.468750,62.750000,63.906250,3.156250,0.125000,437.500000
Dragon,474.375000,83.312500,112.125000,86.375000,96.843750,88.843750,83.031250,3.875000,0.375000,550.531250
Rock,392.727273,65.363636,92.863636,100.795455,63.340909,75.477273,55.909091,3.454545,0.090909,453.750000
Steel,442.851852,65.222222,92.703704,126.370370,67.518519,80.629630,55.259259,3.851852,0.148148,487.703704

In [44]:
df.groupby(['Type 1']).mean().sort_values('Attack',ascending ='False')

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
Type 1,,,,,,,,,,
Fairy,449.529412,74.117647,61.529412,65.705882,78.529412,84.705882,48.588235,4.117647,0.058824,413.176471
Electric,363.500000,59.795455,69.090909,66.295455,90.022727,73.704545,84.500000,3.272727,0.090909,443.409091
Bug,334.492754,56.884058,70.971014,70.724638,53.869565,64.797101,61.681159,3.217391,0.000000,378.927536
Psychic,380.807018,70.631579,71.456140,67.684211,98.403509,86.280702,81.491228,3.385965,0.245614,475.947368
Ice,423.541667,72.000000,72.750000,71.416667,77.541667,76.291667,63.458333,3.541667,0.083333,433.458333
Grass,344.871429,67.271429,73.214286,70.800000,77.500000,70.428571,61.928571,3.357143,0.042857,421.142857
Normal,319.173469,77.275510,73.469388,59.846939,55.816327,63.724490,71.551020,3.051020,0.020408,401.683673
Ghost,486.500000,64.437500,73.781250,81.187500,79.343750,76.468750,64.343750,4.187500,0.062500,439.562500
Water,303.089286,72.062500,74.151786,72.946429,74.812500,70.517857,65.964286,2.857143,0.035714,430.455357
Poison,251.785714,67.250000,74.678571,68.821429,60.428571,64.392857,63.571429,2.535714,0.000000,399.142857
Flying,677.750000,70.750000,78.750000,66.250000,94.250000,72.500000,102.500000,5.500000,0.500000,485.000000
Fire,327.403846,69.903846,84.769231,67.769231,88.980769,72.211538,74.442308,3.211538,0.096154,458.076923
Dark,461.354839,66.806452,88.387097,70.225806,74.645161,69.516129,76.161290,4.032258,0.064516,445.741935
Steel,442.851852,65.222222,92.703704,126.370370,67.518519,80.629630,55.259259,3.851852,0.148148,487.703704
Rock,392.727273,65.363636,92.863636,100.795455,63.340909,75.477273,55.909091,3.454545,0.090909,453.750000
Ground,356.281250,73.781250,95.750000,84.843750,56.468750,62.750000,63.906250,3.156250,0.125000,437.500000
Fighting,363.851852,69.851852,96.777778,65.925926,53.111111,64.703704,66.074074,3.370370,0.000000,416.444444
Dragon,474.375000,83.312500,112.125000,86.375000,96.843750,88.843750,83.031250,3.875000,0.375000,550.531250

In [45]:
df.groupby(['Type 1']).sum()

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
Type 1,,,,,,,,,,
Bug,23080,3925,4897,4880,3717,4471,4256,222,0,26146
Dark,14302,2071,2740,2177,2314,2155,2361,125,2,13818
Dragon,15180,2666,3588,2764,3099,2843,2657,124,12,17617
Electric,15994,2631,3040,2917,3961,3243,3718,144,4,19510
Fairy,7642,1260,1046,1117,1335,1440,826,70,1,7024
Fighting,9824,1886,2613,1780,1434,1747,1784,91,0,11244
Fire,17025,3635,4408,3524,4627,3755,3871,167,5,23820
Flying,2711,283,315,265,377,290,410,22,2,1940
Ghost,15568,2062,2361,2598,2539,2447,2059,134,2,14066
Grass,24141,4709,5125,4956,5425,4930,4335,235,3,29480
Ground,11401,2361,3064,2715,1807,2008,2045,101,4,14000
Ice,10165,1728,1746,1714,1861,1831,1523,85,2,10403
Normal,31279,7573,7200,5865,5470,6245,7012,299,2,39365
Poison,7050,1883,2091,1927,1692,1803,1780,71,0,11176
Psychic,21706,4026,4073,3858,5609,4918,4645,193,14,27129
Rock,17280,2876,4086,4435,2787,3321,2460,152,4,19965
Steel,11957,1761,2503,3412,1823,2177,1492,104,4,13168
Water,33946,8071,8305,8170,8379,7898,7388,320,4,48211

In [49]:
df['count']= 1
df.groupby(['Type 1']).count()['count']

Type 1
Bug          69
Dark         31
Dragon       32
Electric     44
Fairy        17
Fighting     27
Fire         52
Flying        4
Ghost        32
Grass        70
Ground       32
Ice          24
Normal       98
Poison       28
Psychic      57
Rock         44
Steel        27
Water       112
Name: count, dtype: int64

In [57]:
df.groupby(['Type 1','Type 2']).count()['count']

Type 1  Type 2
Bug     Electric     2
        Fighting     2
        Fire         2
        Flying      14
        Ghost        1
                    ..
Water   Ice          3
        Poison       3
        Psychic      5
        Rock         4
        Steel        1
Name: count, Length: 136, dtype: int64